body {
  width: 100%;
  background-color: beige;
  font-size: 35px;
  text-transform: capitalize;
  font-style: italic;
  margin: 15px auto;
  text-decoration: underline;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
